@keyframes slideFromAbove {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.userNav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top:0;
}
.user-nav-icons{
    background-color: transparent;
    border:none;  
    padding: 0 5px 0 0;
    margin:0;
    cursor: pointer;
    max-height: 42px;
    
    
}
.user-icons{
    width: 42px;
    max-height: 42px;
}
.DialogBox{/* Start with opacity 0 */
 font-size: 15px;

}
.user-nav-img{
  max-height: 42px;
}
.user-nav-img:hover{
  background-color: grey;
}
.user{
  
  transform: translateY(-100%); /* Start with translateY at -100% */
  // overflow: hidden; /* Hide the content that overflows the container */
  animation: slideFromAbove 0.3s ease-in-out forwards;
  display: flex;
  flex-direction: column-reverse;
  right: 0;
  top: auto;
  position: absolute;
  background-color: white;
  align-items: flex-start;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
  min-width: 1em;
  
}
.SignoutIcon{
max-width: 24px;
padding:0.4em;
}
.username{
  margin:0;
  padding:1.5em 2em;
}
.SignOut{
  padding:0em 2em;
}
.username,.SignOut{
  display: inline-flex;
  width: 100%;
  font-size:1.1em;
}
.username:hover,.SignOut:hover{
  background-color: #DD2B1C;
}
.signin{
  display: inline-flex;
  width: 100%;
  font-size:1.1em;
  padding:1.5em 2em;
  margin:0;
}
.signin:hover{
  background-color: #DD2B1C;
}