<?xml version="1.0" encoding="utf-8" ?> 
<Settings>
  <xs:schema id="Settings" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
    <xs:element name="Settings" msdata:IsDataSet="true" msdata:UseCurrentLocale="true">
      <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="Connection">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="PortalCode" type="xs:string" minOccurs="0" />
                <xs:element name="MobileService" type="xs:string" minOccurs="0" />
                <xs:element name="OracleServer" type="xs:string" minOccurs="0" />
                <xs:element name="OracleUsername" type="xs:string" minOccurs="0" />
                <xs:element name="OraclePassword" type="xs:string" minOccurs="0" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:complexType>
    </xs:element>
  </xs:schema>
  <Connection>
    <PortalCode>04</PortalCode>
    <MobileService>http://localhost:5199/api</MobileService>
    <OracleServer>SEN_PC_NEW</OracleServer>
    <OracleUsername>s01021</OracleUsername>
    <OraclePassword>s01021</OraclePassword>
  </Connection>
</Settings>