$font-size-menu:1.2em;
$font-color-menu:white;


.MainMenuButton{
  background-color: #DD2B1C;
  width: 95%;
}


.MainMenuItem{
  margin: 1.5vh 0 1.5vh 0;
  display: flex;
  font-size: $font-size-menu;  
}
.mainLogo{
    width:100%;

}
.MainMenuContainer{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 10vh 0 10vh 0;
    
}
.sidebarContainer {
    min-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-items: center;
  
    @media (min-width: 768px) {
      /* Styles for tablet and larger screens */
      width: 20%;
    }
  
    @media (min-width: 992px) {
      /* Styles for desktop and larger screens */
      width: 12%;
    }
  }