.formWrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.loginForm {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2);
  width: 20vw;
  height: 24vh;
  justify-content: space-evenly;
  padding: 20px;
  background-color: white;
  min-width: 200px;
}
.loginSubBtn {
  background-color: #dd2b1c;
  border: none;
  color: white;
  padding: 10px 30px;
  margin-top: 13px;
  display: flex;
  justify-content: center;
  cursor:pointer;
}
.PassInput {
  border: none;
  position: relative;
  width: 100%;
}
.PassInput:focus-visible {
  outline: none;
}
.passWrapper {
  border: 1px solid;
  padding:5px 2px;
  border-style: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  display: flex;
  justify-content: space-between;
  z-index: 100;
}
.passWrapper .PassInput:focus {
    border-color: red;
  }

.password-toggle-button {
  border: none;
  background-color: transparent;
  right: 0;
}
